<!DOCTYPE html>

<html lang="en-GB">

  <head>
    <meta charset="utf-8">
    <meta name="application-name" content="Pubrules Checker">
    <meta name="description" content="Pubrules checker — reloaded">
    <meta name="keywords" content="pubrules,checker,specberus,w3c">
    <meta name="author" content="W3C">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pubrules {{version}}{{#if title }} &mdash; {{title}}{{/if}}</title>
    {{#if DEBUG}}
      <link rel="stylesheet" type="text/css" href="https://www.w3.org/scripts/bootstrap/3.3/css/bootstrap.css">
    {{else}}
      <link rel="stylesheet" type="text/css" href="https://www.w3.org/scripts/bootstrap/3.3/css/bootstrap.min.css">
    {{/if}}
    <link rel="stylesheet" type="text/css" href="{{BASE_URI}}css/specberus.css">
    <link rel="icon" type="image/x-icon" href="{{BASE_URI}}img/favicon.ico">
  </head>

  <body>

    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 navbar-brand">
            <a href="https://www.w3.org/"><img class="logo" src="{{BASE_URI}}img/logo-w3c.svg" alt="W3C logo"></a>
            <img src="{{BASE_URI}}img/logo.svg" alt="Logo for the Pubrules Checker">
            <a href="{{BASE_URI}}"><abbr title="Technical Report Publication Policy">Pubrules</abbr></a> {{version}}{{#if title }} &mdash; {{title}}{{/if}}
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      {{{body}}}
    </div>

    {{#if DEBUG}}
      <script type="application/javascript" src="https://www.w3.org/scripts/jquery/2.1/jquery.js"></script>
      <script type="application/javascript" src="https://www.w3.org/scripts/bootstrap/3.3/js/bootstrap.js"></script>
    {{else}}
      <script type="application/javascript" src="https://www.w3.org/scripts/jquery/2.1/jquery.min.js"></script>
      <script type="application/javascript" src="https://www.w3.org/scripts/bootstrap/3.3/js/bootstrap.min.js"></script>
    {{/if}}

    {{#if scroll}}
      <script type="application/javascript" src="{{BASE_URI}}js/scroll-tweak.js"></script>
    {{/if}}

    {{#if interactive}}
      <script type="application/javascript" src="{{BASE_URI}}socket.io/socket.io.js"></script>
      <script type="application/javascript" src="{{BASE_URI}}js/specberus.js"></script>
    {{/if}}

  </body>

</html>
