<!DOCTYPE html>

<html lang="en-GB">

  <head>
    <meta charset="utf-8">
    <meta name="application-name" content="Pubrules Checker">
    <meta name="description" content="Pubrules checker — reloaded">
    <meta name="keywords" content="pubrules,checker,specberus,w3c,publict">
    <meta name="author" content="W3C">
    <title>W3C's Specberus {{version}}{{#if title }} &mdash; {{title}}{{/if}}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/specberus.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  </head>

  <body>

    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-md-8 navbar-brand">
            <a href="http://www.w3.org/"><img class="logo" src="/img/logo-w3c.svg" alt="W3C logo"></a>
	    <img src="/img/logo.svg" alt="Logo for the Pubrules Checker">
	    <a href="https://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a>'s
            <a href="/">Specberus</a> {{version}}{{#if title }} &mdash; {{title}}{{/if}}
          </div>
          <div class="contribute col-md-4 text-right">
            <a id="infoLink" href="#" onclick="$('#about').show(); $('#infoLink').hide();">Important information about this tool</a>
          </div>
        </div>
      </div>
    </header>

    {{{body}}}

    <script type="text/javascript" src="/js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    {{#if interactive}}
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/specberus.js"></script>
    {{/if}}

  </body>

</html>
