<div class="row">
  <div class="col-md-12">
    {{{nav}}}
    <p><a href="{{BASE_URI}}">&uarr; up to Pubrules home</a></p>
    <h2>Sitemap</h2>
    <ul>
      <li>
        <a href="{{BASE_URI}}">Home (pubrules checker)</a>
        <ul>
          <li>
            <a href="{{BASE_URI}}doc/">Documentation</a>
            <ul>
              <li><a href="{{BASE_URI}}doc/rules/">Publication rules</a></li>
            </ul>
          </li>
          <li><a href="{{BASE_URI}}about/">About</a></li>
          <li><a href="{{BASE_URI}}sitemap/">Sitemap</a></li>
          <li><a href="{{BASE_URI}}help/">Help</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
