<div class="row">
  <div class="col-md-12">
    {{{nav}}}
    <p><a href="{{BASE_URI}}">&uarr; up to Specberus home</a></p>
    <h2>Specberus documentation</h2>

    <h3 id="publication"><a href="#publication">Publication rules</a></h3>
    <ul>
      {{#each profiles}}
        <li><a href="{{../BASE_URI}}doc/rules/?profile={{this.abbr}}">{{this.name}} ({{this.abbr}})</a></li>
      {{/each}}
    </ul>

    <h3 id="transitions"><a href="#transitions">Transitions</a></h3>
    <p>See the <a href="http://www.w3.org/Guide/transitions2015">transition guide</a></p>

  </div>
</div>
